/node_modules
/public/api-docs
/resources/docs
/public/hot
/public/css/
/public/js/
/public/storage
/public/attachments
/storage/*.key
/vendor
/.idea
/public/media
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
